/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
// @import "~bootstrap/scss/bootstrap";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  background-color: whitesmoke;
  margin: auto;
  width: 30%;
}

h2 {
  background-color: whitesmoke;
  text-align: left;
  padding-left: 5px;
}

h3 {
  margin: 3px;
  padding: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
  align-content: space-around;
}

.card {
  background-color: whitesmoke;
  width: 15vw;
  height: 45vh;
  padding: 10px;
  margin: 10px;
}

.card_img {
  height: 200px;
  width: auto;
}

.card_resume {
  margin: auto;
  width: 95%;
  text-align: center;
}
.card-btn-info {
  color: whitesmoke;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  margin: 5px;
  padding: 3px;
}

.card-btn-reserver {
  color: whitesmoke;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  margin: 5px;
  padding: 3px;
}
